<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareSync</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

   <div class="main-container">

        <div>
            <h1 class="landing-title">YOUR HEALTH IS OUR PRIORITY</h1>
            
            <div class="registration">
                <a href="/auth/sign-in">
                    <button class="outlined-button">
                        Login
                    </button>
                </a>
    
                <a href="/auth/sign-up">
                    <button class="filled-button">
                        Sign Up
                    </button>
                </a>
            </div>
        </div>

   </div>

</body>
</html>